@{
    ViewData["Title"] = "The Stenders";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We're The Stender! Anthony, Jessica, Callista, and Tank!</p>
<p>We live in Shakopee, Minnesota</p>
