
@{
    ViewData["Title"] = "Food";
}

<h2>Recipes, Meals, and Shopping List Generator</h2>
<br />
<button type="button" id="addRecipeButton">Add a Recipe</button>
<br />
<h4>Meal Examples - for Demo Purposes Only</h4>
<br />
<br />
<table id="mealDemo">
    <tr>
        <td><input type="checkbox" name="HamburgerHelper" value="HamburgerHelper" />Hamburger Helper</td>
        <td><input type="checkbox" name="Spaghetti" value="Spaghetti" />Spaghetti</td>
        <td><input type="checkbox" name="SteakPotatoes" value="SteakPotatoes" />Steak and Potatoes</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="Chili" value="Chili" />Chili</td>
        <td><input type="checkbox" name="Meatloaf" value="Meatloaf" />Meatloaf</td>
        <td><input type="checkbox" name="Hamburgers" value="Hamburgers" />Hamburgers</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="Totdish" value="Totdish" />Totdish</td>
        <td><input type="checkbox" name="HotDogs" value="HotDogs" />HotDogs</td>
        <td><input type="checkbox" name="Tacos" value="Tacos" />Tacos</td>
    </tr>
</table>



