@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to The Stender Household Home Page</h1>
<p>Here will be information about our food plan, our budget, a calendar, and lots of other great information. The greatest information. So great.</p>